.materi {
    text-align: center;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
  }
  
  .materi h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .materi ul {
    list-style-type: none;
    padding: 0;
  }
  
  .materi li {
    font-size: 1.2rem;
    margin: 10px 0;
    color: #333;
  }
  